<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerShip1_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,571},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>playerShip1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>playerShip1_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,409},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>playerShip1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,328},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>playerShip2_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,247},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>playerShip2_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,166},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>playerShip2_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,85},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>playerShip2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>playerShip3_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,895},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>playerShip3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,814},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>playerShip3_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,733},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>playerShip3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,652},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>ufoBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1267},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ufoGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1170},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ufoRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1073},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>ufoYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,976},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playShips.png</string>
            <key>size</key>
            <string>{120,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b4df715843bae061eb33b80df5f3588:1/1$</string>
            <key>textureFileName</key>
            <string>playShips.png</string>
        </dict>
    </dict>
</plist>
